// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

// Files for individual modules
@import 'header.less';
@import 'footer.less';

.node {
  overflow: hidden;
  position: absolute;
  &.hire {
    padding: 4px;
    color: white;
    font-size: 8.5px;
    line-height: 12px;
    &:hover {
      border: 2px solid #fff;
      cursor: pointer;
    }
  }
}

.popover {
  strong {
    font-size: 14px;
  }
  font-size: 13px;
}

#legend {
  line-height: 21px;
  font-size: 13px;
  .color {
    display: inline-block;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 2px;
    position: relative;
  }
}
