// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

// Files for individual modules
@import 'header.less';
@import 'footer.less';

#sidebar {
  margin-top: @navbar-height;
  .page-header {
    h2 {
      margin-top: 0;
    }
  }
  .list-group-item p {
    margin-bottom: 0;
  }

  .salary-bar {
    background: @brand-primary;
    height: 16px;
  }
}

#chart-wrapper {
  position: fixed;
  padding-right: 0;
  right: 0;
  top: @navbar-height + 2px;
  #chart {
    height: 800px;
    position: relative;
    border: 2px solid #fff;

    .node {
      overflow: hidden;
      position: absolute;
      &.hire {
        border: 1px solid #fff;
        padding: 4px;
        color: white;
        font-size: 8.5px;
        line-height: 12px;

        -webkit-transition: width 500ms, height 500ms, left 500ms, top 500ms;
        -o-transition: width 500ms, height 500ms, left 500ms, top 500ms;
        transition: width 500ms, height 500ms, left 500ms, top 500ms;
        &:hover {
          border: 3px solid #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.popover {
  strong {
    font-size: 14px;
  }
  p {
    margin-bottom: 0;
  }
  font-size: 13px;
}
