// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

// Files for individual modules
@import 'header.less';
@import 'footer.less';

.node {
  overflow: hidden;
  position: absolute;
  &.hire {
    padding: 4px;
    color: white;
    font-size: 8.5px;
    line-height: 12px;
    &:hover {
      border: 2px solid #fff;
      cursor: pointer;
    }
  }
}

.popover {
  strong {
    font-size: 14px;
  }
  font-size: 13px;
}

.top-agencies {
  h3:first-child {
    margin-top: 0;
  }
  .list-group-item p {
    margin-bottom: 0;
  }
}

.salary-bar {
  background: @brand-primary;
  height: 16px;
}
